  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    
    body
    {
        background: url('./public/login.jpg') no-repeat;
        background-size: cover;
        background-position: center;
      /*  width: 1500px;*/
       /* height: 700px;*/
      /* background-color: blue;*/
    }
    .clb
    {
        background-color:cyan;
        width:1500px;
        height:1200px; 
        float: left; 
   
    }

    .cl
    {
       /* background-color: yellow;*/
        width:1400px;
        height:600px;
    }
    .cl2
    {
       /* background-color:#C06;*/
        width:1400px;
        height:100px;  

    }
    .cl3
    {
      /*  background-color:cyan;*/
        width:300px;
        height:100px; 
        float: left; 
   
    }
    .cl4
    {
      /*  background-color:red;*/
        width:1100px;
        height:100px; 
        float: right; 
   
    }
    
    .cl1
    {
      /* background-color:blue;*/
        width:1500px;
        height:30px;
         margin-top: -15px;
    }
    
    .cl1 ul li
{
	float:left;
	width:150px;
	height:30px;
	background:cyan;
	list-style:none;
	border:#0F0 solid 1px;	
	margin-top:80px;
	margin-left:40px;
	text-align:center;
	line-height:30px;
	border-bottom-left-radius:50px;
	border-top-right-radius:50px;
	position:relative;
    border-radius: 50px;
    font-size: 30px;
	
}

   
.cl1 a
{
	text-decoration:none;
	/*color:#00F;*/
	display:block;
}
.cl1 ul li:hover
{
	background:#C06;
	font-size:44px;
	font-weight:bold;
    color:wheat;
    width:250px;
    height:70px;
    line-height: 60px;
}



</style>
<body>
   <div class="cl">
       <div class="cl2">
            <div class="cl3">
                <!--<img src="./public/logo1.jpg" style="width:300px;
                 height:150px;">-->
        </div>
            <div class="cl4">
                <marquee behavior="looping">
                    <p style="margin-left:100px; margin-top: 15px; font-size:60px; color:rgb(2, 0, 2);text-decoration:underline ;">THE{AR} GROUP OF INDUSTRIES</p></marquee>
            </div>

        </div>
        <div class="cl1">
        
<ul >
   <li><a href='test'>SHOW</a></li> 
   <li><a href='save'>SAVE</a></li> 
   <li><a href='search'>SEARCH</a></li>
   <li><a href='modify'>MODIFY</a></li> 
   <li><a href='delete'>DELETE</a></li> 
   <li><a href='wod'>WORKS</a></li> 
   <li><a href='login'>LOGOUT</a></li> 
   
</ul>

</div>


   </div>
    </body>
    
</html>